.theme1{
    background-color:red;
    color:white;
}

.theme2{
    background-color: green;
    color: black;
}

.theme3{
    background-color: cornflowerblue;
    color:rgb(9, 255, 42)
}



.theme4{
    background-color: rgb(96, 183, 241);
    color:rgb(90, 0, 12)
}

