h1{color: black;
font-size: 14px}
.bere{
    background-color: burlywood;
    color: green;
}
.vin{
    background-color: rgb(243, 154, 45);
    color: darkorchid;
}
.micii{
    background-color: crimson;
    color: cyan;
    
}
.vodka{
    background-color: rgb(215, 223, 106);
    color: darkslategrey;
}